body {
    margin: 50px;
    font-family: 'Source Sans Pro', sans-serif;
}

form {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

input {
    width: 70%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-family: 'Source Sans Pro', sans-serif;
}

button {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

button:hover {
    cursor: pointer;
    background-color: rgb(231, 231, 231);
}

.urls-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}